.page {
    width: 100vw;
    height: calc(100vh - 80px);

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;

    position: relative
}

.otherLogin {
    position: absolute;
    top: 20px;
    right: 20px;
}

.otherButton {
    width: 100px;
    height: 50px;

    background-color: #f5f6f8;

    font-size: 14px;
    color: #25316D;

    border: 0px;
    border-radius: 10px;
}

.otherButton:nth-child(1) {
    margin-right: 15px;
}