.defaultInfoBox {
    width: 960px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 150px;
    margin-bottom: 30px;
}

.imageInfoInnerBox {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.imageBox {
    width: 390px;
    height: 520px;

    /* background-color: #fff; */

    /* display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px; */
}

.image {
    width: 100%;
    height: 100%;
}

.textInnerBox {
    width: calc(100% - 390px);

    padding: 0 50px;
    /* margin-top: 30px; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.textInnerBox>h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.textInnerBox>span {
    font-size: 14px;
    font-weight: 700;
    color: #ff4d4d;
}

.textInnerBox>p {
    font-size: 14px;
    margin-top: 10px;
    padding: 0;
    font-weight: 500
}