.defaultInfoBox {
    width: 100%;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.imageBox {
    width: 100%;
    height: 600px;

    background-color: #121212;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

.image {
    width: 480px;
    height: 600px;
}

.textInnerBox {
    width: 960px;
    margin-top: 30px;

}

.textInnerBox>h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.textInnerBox>span {
    font-size: 14px;
    font-weight: 700;
    color: #ff4d4d;
}

.textInnerBox>p {
    font-size: 14px;
    margin-top: 10px;
    padding: 0;
    font-weight: 500
}