.detailBox {
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    /* 중앙 정렬 추가 */
}

.titleInnerBox {
    width: 100%;
}

.titleInnerBox>p {
    width: 100%;
    color: #000;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 3px solid #000;
}

/* 리스트 스타일 */
.infoListBox {
    width: 100%;
    display: flex;
    /* 가로 나열 */
    gap: 20px 60px;
    /* 아이콘 사이 간격 */
    padding: 0 20px 20px 20px;
    list-style: none;
    border-bottom: 1px solid #000;
}

.infoItem {
    display: flex;
    flex-direction: column;
    /* 아이콘 아래에 텍스트 배치 (옆으로 하려면 row) */
    align-items: center;
    gap: 8px;
}

/* 아이콘 크기 고정 */
.icon {
    width: 36px;
    height: 36px;
    object-fit: contain;
    /* 이미지 비율 유지 */
}

.infoItem span {
    font-size: 14px;
    color: #333;
}