.detailBox {
    width: 1115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titleInnerBox {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom : 20px;
}


.titleInnerBox > h2{
    font-size : 18px;
}

.telInnerBox{
    width : 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.telInnerBox > p{
    font-size : 12px;
    color : #aca0a0;
}

.textBox{
    width : 1115px;
    background-color : hsl(0, 0%, 93%);
    color : #333;
    font-size : 14px;
    padding : 30px 20px;
    margin-bottom : 30px;
}