.page {
    width: 100%;
    min-height: calc(100vh - 80px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: #fff;
    position: relative;
    overflow-y: auto;
}