.header {
  height: 60px;
  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  border-bottom: 1px solid #eaeaea;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-family: "Bungee", sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 16px;
  align-items: center; /* 중요 */
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

li {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* ===== 사용자 영역 ===== */
.userBox {
  position: relative;
}

.userButton {
  padding: 8px 12px;
}

/* 드롭다운 */
.logoutDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 6px;
  width: 100%;
}

.logoutButton {
  width: 100%;
  padding: 8px 12px;

  background: #fff;
  border: 1px solid #eaeaea;
  font-size: 14px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.logoutButton:hover {
  background-color: #f5f5f5;
}
