.header {
    height: 80px;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    color: #25316D;

    border-bottom: 1px solid #eaeaea
}

.logo {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.menu {
    display: flex;
    gap: 16px;
}

button {
    border: 0;
    padding: 0;
    border-radius: 0;
    background-color: #fff;
    color: #000;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 6px;
}