.loginBox {
    width: 400px;
    height: 500px;

    border-radius: 20px;

    background: #f5f6f8;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding-left: 30px;
    padding-right: 30px;
}

.title {
    font-size: 36px;
    font-weight: 500;
    color: #25316D
}

.inputBox {
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.inputBox>p {
    font-size: 18px;
    color: #25316D;

    margin: 0;
    padding: 0;
}

.inputBox>input {
    width: 100%;
    height: 40px;

    outline: 0;
    font-size: 18px;

    padding-left: 10px;
}

.loginBtnBox {
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnInnerBox {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnInnerBox>button {
    width: 100%;
    height: 40px;

    border: 0;
    border-radius: 5px;

    background-color: #25316D;


    font-size: 18px;
    color: #f5f6f8
}

.btnInnerBox>button:hover {
    background-color: #97D2EC;
    color: #f5f6f8;
    transition: 0.5s;
}